@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Nunito:ital@1&family=Poppins:ital,wght@1,300&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

html, body {
    margin: 0;
}

.full-screen-container {
    background-image: url("/img/angele-kamp-uXzkLmnZ-d8-unsplash.jpg");
    height: 100vh;
    width: 100wh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: rgba(22, 68, 8, 0.5);
    padding: 50px 30px;
    min-width: 400px;
    width: 50%;
    max-width: 600px;
}

.login-title {
    color: white;
    text-align: center;
    margin: 0;
    margin-bottom: 40px;
    font-size: 2.5rem;
    font-weight: normal;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input-group label {
    color: white;
    font-weight: lighter;
    font-size: 1.4em;
    margin-bottom: 7px;
}

.input-group input {
    background-color: rgba(22, 68, 8, 0.1);
    outline: none;
    font-size: 1.5em;
    padding: .1em .25em;
    border: 1px solid hsla(22, 68, 8, 6%);
    border-radius: 5px;
    color: white;
    font-weight: lighter;
}

.input-group input:focus {
    border: 1px solid hsl(22,68,8);
}

.login-btn {
    padding: 10px 30px;
    border-radius: 5px;
    background-color: hsla(111,12%,55%,0.1) ;
    width: 100%;
    outline: none;
    font-size: 1.2em;
    color: white ;
    font-weight: lighter;
    margin-top: 20px;
    cursor: pointer;
}

.login-btn:hover {
    background-color: hsla(111,12%,55%,0.9);
}